@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

#root {
  height: 100%;

  --color-primary-red: #d23131;
  --color-primary-orange: #fea013;
  --color-primary-orange-hover: #ba4a0c;

  --color-neutral-background-1: #222222;
  --color-neutral-background-2: #2d2d2d;

  --color-text-heading: #f8f8f8;
  --color-text-normal: #cbcbcb;
  --color-text-muted: #999999;
  --color-text-disabled: #707070;

  --color-border-default: #494949;
}
